configuration {
  modi: "drun,run,window";
  show-icons: true;
  drun-display-format: "{icon} {name}";
}

* {
  font:   "JetBrainsMonoNerdFont 12";

  background-color:   transparent;
  text-color:         @text;

  margin:     0px;
  padding:    0px;
  spacing:    0px;
}

window {
  location:       north;
  y-offset:       calc(50% - 176px);
  width:          480;
  border-radius:  24px;

  background-color:   @base;
}

mainbox {
  padding:    12px;
}

inputbar {
  background-color:   @base-alt;
  border-color:       @border;

  border:         1px;
  border-radius:  16px;

  padding:    8px 16px;
  spacing:    8px;
  children:   [ prompt, entry ];
}

prompt {
  text-color: @text-alt;
}

entry {
  placeholder:        "Search";
  placeholder-color:  @border;
}

message {
  margin:             12px 0 0;
  border-radius:      16px;
  border-color:       @border;
  background-color:   @border;
}

listview {
  background-color:   transparent;

  margin:     12px 0 0;
  lines:      8;
  columns:    1;

  fixed-height: false;
}

element {
  padding:        8px 16px;
  spacing:        8px;
  border-radius:  16px;
}

element normal active {
  text-color: @text-alt;
}

element alternate active {
  text-color: @text-alt;
}

element selected normal, element selected active {
  background-color:   @accent;
  text-color:         @on-accent;
}

element-icon {
  size:           1em;
  vertical-align: 0.5;
}

element-text {
  text-color: inherit;
}
